/* larger.css */

@media screen and (min-width: 768px) {
    header {
        padding: 30px;
    }

    header img {
        width: 120px;
    }

    header span {
        font-size: 1.5em;
    }

    nav {
        padding: 10px;
    }

    nav a {
        font-size: 1.2em;
    }

    main {
        padding: 30px;
    }

    .card {
        padding: 30px;
        margin-top: 30px;
    }

    footer {
        padding: 15px;
    }
}
