/* larger.css */

@media screen and (min-width: 768px) {
    header {
        padding: 30px;
    }

    header img {
        width: 120px;
    }

    header span {
        font-size: 1.5em;
    }

    nav {
        padding: 10px;
    }

    nav a {
        font-size: 1.2em;
    }

.menuLinks {
    display: inside; /* This should be your default display style for larger screens */
}

.menuLinks.open {
    display: block; /* This style should be applied when the menu is open on larger screens */
}

    main {
        padding: 30px;
    }

    .card {
        padding: 30px;
        margin-top: 20px; /* Adjusted margin for consistency */
    }

    footer {
        padding: 15px;
    }
}
